# testing
/coverage

# server
.audit-ci.json
.env.sample
.eslintignore
.eslintrc.js
.releaserc.yaml
codecov.yml
jest.config.js
prettier.config.js
tsconfig.json
/.github
/.vscode

# source
/src

# expamples
/examples

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Webstorm
.idea

# Typescript
tsconfig.tsbuildinfo
